@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis/Metropolis-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis/Metropolis-Bold.woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis/Metropolis-Black.woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: Metropolis;
  src: url("/fonts/Metropolis/Metropolis-ExtraLight.woff");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Metropolis", -apple-system, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
